$quoteFonts: 'Playfair Display', Arial, Helvetica, sans-serif;
// $quoteFonts: 'Grand Hotel', Arial, Helvetica, sans-serif;
// $quoteFonts: 'Lobster', Arial, Helvetica, sans-serif;
$paragraphFonts: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$logoFonts: 'Titillium Web', Arial, Helvetica, sans-serif;
$generalFonts: 'Montserrat', Arial, Helvetica, sans-serif;
$numberFonts: 'Ultra', Arial, Helvetica, sans-serif;

$veryLightBg: #fbfdff;

$veryLightMainColor: #6acb98;
$lighterMainColor: #50646f;
$lightMainColor: #2e3c45;
$mainColor: #222d33;
$darkerMainColor: #1f292e;

$secondaryColor: #dd934c;

$tabletLandscape: 1024px;
$tabletPortrait: 812px;
$mobile: 500px;

$errorColor: #f14f4f;
$successColor: #34e181;

%section-padding {
  padding: 120px 0;
}
