@import './reset';
@import './variables';
@import '../../../node_modules/slick-carousel/slick/slick.css';
@import '../../../node_modules/slick-carousel/slick/slick-theme.css';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'TESLA';
  src: url('../fonts/TESLA.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'scratch';
  src: url('../fonts/scratch.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'BubbleBody';
  src: url('../fonts/Bobbleboddy.ttf');
  font-weight: 500;
}

.number-fonts {
  font-family: 'scratch';
  font-weight: 300;
}

body {
  width: 100%;
  background-color: $mainColor;
  background-image: url('../images/background.svg');
  background-size: cover;
  background-position: bottom center;
  margin: 0;
  padding: 0;
  font-family: $generalFonts;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 20px;
}

#root {
  overflow-y: hidden;
}

h2 {
  margin-bottom: 25px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

a {
  color: #fff;
  display: inline-block;
}

p {
  font-family: $paragraphFonts;
  line-height: 1.4;
}

.loading-spinner {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: rgba(46, 60, 69, 0.96);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  svg {
    g {
      path {
        fill: $veryLightMainColor;
      }
    }
  }
}

.heading-name {
  font-family: 'Tesla';
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  nav {
    width: calc(20% - 2px);
    background-color: $mainColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid $darkerMainColor;
    ul {
      li {
        margin-bottom: 0px;
        padding-left: 0px;
        a {
          text-decoration: none;
          padding: 20px 30px 20px 40px;
          // border-radius: 50px 0 0px 50px;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.5px;
          color: $lighterMainColor;
          position: relative;
          // &::before {
          //   content: ' ';
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   background-color: #fff;
          //   width: 50%;
          //   height: 100%;
          // }
          &.active {
            color: #fff;
            background-color: $lightMainColor;
            font-weight: 700;
            .icon {
              svg {
                fill: $veryLightMainColor;
              }
            }
          }
          &:hover {
            // transform: scale(10);
            color: #fff;
          }
          .icon {
            width: 20px;
            position: relative;
            margin-right: 45px;
            display: inline-block;
            transform: translateY(2px);
            svg {
              width: 100%;
              height: 100%;
              fill: $lighterMainColor;
              transform: scale(1.5);
            }
          }
          .text {
            display: inline-block;
          }
        }
      }
    }
  }
  .content {
    width: 80%;
    text-align: center;
    position: relative;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  max-height: 100%;
}
.homepage-container {
  height: 100%;
  .homepage-section {
    .logo {
      padding-bottom: 20px;
      width: 250px;
    }
    .heading-name {
      font-size: 55px;
      font-weight: 300;
      text-shadow: -1px -1px 0 $veryLightMainColor;
      color: $mainColor;
      font-family: 'BubbleBody', Arial, Helvetica, sans-serif;
      text-transform: capitalize;
    }
  }
}

.year-active-button {
  align-items: flex-start;
  margin-bottom: auto;
  padding-top: 90px;
  h2 {
    color: $veryLightMainColor;
    font-size: 55px;
    margin: 0 40px;
  }
  .prev-button,
  .next-button,
  h2 {
    display: inline-block;
  }

  .prev-button,
  .next-button {
    cursor: pointer;
    transform: translateY(-6px);
  }

  .prev-button {
    svg {
      width: 25px;
      height: 25px;
      fill: $veryLightMainColor;
    }
    path {
      fill: $veryLightMainColor;
    }
  }
  .next-button {
    svg {
      width: 25px;
      height: 25px;
      fill: $veryLightMainColor;
    }
    path {
      fill: $veryLightMainColor;
    }
  }
}

.experience-container {
  height: 100vh;
  align-items: unset;
  .experience-section {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    margin: 0 auto;
    padding: 80px 100px;
    position: relative;
    width: 100%;
    margin-bottom: auto;
    .experience {
      text-align: left;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50%);
        width: 15px;
        height: 15px;
        transform: translateX(-50%);
        background-color: $secondaryColor;
        z-index: 1;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 5px rgba(221, 146, 76, 0.4);
      }
      .separator {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::before {
          content: '';
          position: absolute;
          width: 100px;
          height: 6px;
          background-color: $darkerMainColor;
          left: 50%;
          top: 50%;
          transform: translate(-50%);
        }
        &::after {
          content: '';
          position: absolute;
          width: 6px;
          height: calc(100%);
          background-color: $darkerMainColor;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
        }
      }
      &:nth-of-type(even) {
        text-align: right;
        .separator {
          &::before {
            left: calc(50% + 50px);
          }
        }
        &:before {
          left: calc(50% + 107.5px);
        }
      }
      &:nth-of-type(odd) {
        text-align: left;
        .separator {
          &::before {
            left: calc(50% - 50px);
          }
        }
        &:before {
          left: calc(50% - 107.5px);
        }
      }
      &:nth-of-type(1) {
        .separator {
          &::after {
            height: calc(50% + 6px);
            top: 50%;
          }
        }
      }
      &:nth-last-of-type(1) {
        .separator {
          &::after {
            height: calc(50% + 6px);
          }
        }
      }
      .company {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
        display: inline-block;
        max-width: 240px;
        font-family: $generalFonts;
      }
      .role {
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        max-width: 200px;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 500;
        color: $lighterMainColor;
      }
    }
  }
}

.particles {
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 80%;
  margin-left: auto;
  left: 20%;
  top: 0;
  overflow: hidden;
  opacity: 0.2;
}

.website-container {
  height: 100%;
  .website-section {
    width: 100%;
    .portfolio {
      display: flex !important;
      flex-wrap: wrap;
      padding: 30px;
      .portfolio-image {
        width: 50%;
        img {
          width: 100%;
          border-radius: 5px;
          box-shadow: 0px 22px 67px -31px rgba(0, 0, 0, 1);
        }
      }
      .portfolio-details {
        width: 50%;
        text-align: left;
        padding: 0 50px;
        .name {
          margin-top: 0;
          margin-bottom: 30px;
          font-weight: 900;
        }
        .year {
          margin-bottom: 10px;
          position: relative;
          font-weight: 500;
          font-size: 17px;
          font-style: italic;
          &:before,
          &:after {
            width: 10px;
            height: 10px;
            content: '';
            background-color: $secondaryColor;
            position: static;
            display: inline-block;
            border-radius: 100%;
          }
          &:before {
            margin-right: 10px;
          }
          &:after {
            margin-left: 10px;
          }
        }
        .description {
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
          scroll-behavior: smooth;
        }
      }
    }
  }
}

section.photography-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  .photo {
    width: 50%;
    height: 50%;
    position: relative;
    transition: all 0.3s;
    &:hover:before {
      transition: all 0.3s;
      background-color: rgba(0, 0, 0, 0);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.slick-slider {
  .slick-track {
    &:focus {
      outline: none !important;
    }
  }
  .slider-control-bottomcenter {
    display: none;
  }
}

.slick-prev {
  left: 0;
  z-index: 3;
  &::before {
    display: none;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 25px 15px;
    background-size: 40%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $veryLightMainColor;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    background-image: url('../images/icons/prev-button1.svg');
  }
}
.slick-next {
  right: 0;
  &::before {
    display: none;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 25px 15px;
    background-size: 40%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $veryLightMainColor;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    background-image: url('../images/icons/next-button1.svg');
  }
}

.slick-prev,
.slick-next {
  z-index: 999 !important;
}

// .overflow-scroll {
//   max-height: 100vh !important;
//   overflow-y: scroll;
// }

.mobile-only,
.tablet-only {
  display: none;
}

.contact-container {
  overflow: scroll;
  height: 100%;
  .contact-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.success-message,
.error-message {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  padding: 20px;
  background-color: $veryLightMainColor;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.3);
}

.error-message {
  background-color: $errorColor;
}

form {
  width: 700px;
  margin: 60px auto 0;
  padding: 0 100px;
  text-align: left;
  .form-group {
    text-align: left;
    display: block;
    width: 100%;
    margin-bottom: 25px;
    input,
    textarea {
      -webkit-appearance: none;
      padding: 15px;
      border: 0px solid;
      color: #fff;
      background-color: $lightMainColor;
      font-size: 15px;
      border-radius: 2px;
      &:focus {
        outline: none;
        border: 1px solid $veryLightMainColor;
      }
    }
    label {
      display: block;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: $paragraphFonts;
      font-size: 14px;
      letter-spacing: 3px;
    }
    input {
      display: block;
      width: 100%;
    }
    textarea {
      display: block;
      width: 100%;
    }
  }
  button {
    text-align: left;
    align-self: flex-start;
    justify-self: flex-start;
    margin-right: auto;
    color: $veryLightMainColor;
    -webkit-appearance: none;
    font-size: 13px;
    border: 2px solid $veryLightMainColor;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    &:hover {
      filter: brightness(120%);
      transition: all 0.3s;
    }
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: $tabletLandscape) {
  .contact-section {
    padding-top: 100px;
  }
  .tablet-nav-toggle {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: transparent;
    padding: 5px 15px 5px 10px;
    cursor: pointer;
    z-index: 9;
    border-radius: 4px;
    border: 2px solid;
    box-shadow: 0px 0px 41px -20px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;
    img {
      width: 10px;
      height: 13px;
      margin-right: 10px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .particles {
    width: 100%;
    left: 0%;
  }
  .App {
    nav {
      position: fixed;
      width: 80%;
      z-index: 3;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      transition: all 0.3s;
      z-index: 99999 !important;
      &.menu-opened {
        transform: translateX(0);
        width: 80%;
        transition: all 0.3s;
      }
    }
    .content {
      width: 100%;
    }
  }
  .website-container {
    .website-section {
      .portfolio {
        .portfolio-details {
          .description {
            max-height: 200px;
            overflow: scroll;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tabletPortrait) {
  .container {
    padding: 0 50px;
  }

  .tablet-only {
    display: block;
  }

  .App {
    nav {
      transition: all 0.3s;
      z-index: 10;
      &.menu-opened {
        transform: translateX(0);
        width: 80%;
        transition: all 0.3s;
      }
    }
  }

  .experience-container {
    .experience-section {
      padding: 40px 20px;
      .experience {
        .company {
          max-width: 200px;
          font-size: 25px;
        }
        .separator {
          &:before {
            width: 50px;
          }
        }
        &:nth-of-type(odd) {
          .separator {
            &:before {
              left: calc(50% - 23px);
            }
          }
          &:before {
            left: calc(50% - 42.5px);
          }
        }
        &:nth-of-type(even) {
          .separator {
            &:before {
              left: calc(50% + 23px);
            }
          }
          &:before {
            left: calc(50% + 42.5px);
          }
        }
      }
    }
  }

  .website-container {
    padding-left: 0;
    padding-right: 0;
    .website-section {
      .portfolio {
        flex-direction: column;
        .portfolio-image {
          width: 100%;
        }
        .portfolio-details {
          width: 100%;
          margin-top: 40px;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .container {
    padding: 0 30px;
  }
  .success-message,
  .error-message {
    width: 90%;
    font-size: 14px;
    padding: 10px;
  }
  .year-active-button {
    padding-top: 110px;
    h2 {
      font-size: 40px;
    }
    .prev-button svg,
    .next-button svg {
      width: 13px;
      height: 13px;
    }
  }
  .homepage-container {
    .homepage-section {
      .heading-name {
        font-size: 38px;
        text-shadow: 0px -1px 0 $veryLightMainColor;
      }
      .typeit-homepage {
        font-size: 16px;
      }
      .logo {
        width: 175px !important;
      }
      > div {
        width: 175px !important;
        margin-bottom: 40px !important;
      }
    }
  }

  .experience-container {
    .experience-section {
      padding: 40px 0px;
      .experience {
        .company {
          max-width: 100px;
          font-size: 15px;
        }
        .role {
          max-width: 100px;
          line-height: 1.3;
          font-size: 12px;
        }
        &:before {
          top: calc(50% - 1px);
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  .website-container {
    padding: 0;
    overflow-y: unset;
    .website-section {
      .slick-prev {
        position: fixed !important;
        top: unset;
        bottom: 30px;
        left: calc(50% - 42px);
        transform: translateX(0);
      }
      .slick-next {
        position: fixed !important;
        top: unset;
        bottom: 30px;
        left: unset;
        right: calc(50% - 42px);
        transform: translateX(0);
        z-index: 9;
      }
      .portfolio {
        .portfolio-details {
          .name {
            font-size: 21px;
          }
          .description {
            font-size: 16px;
            max-height: 90px;
          }
        }
      }
    }
  }
  .contact-container {
    padding: 0;
    .contact-section {
      width: 100%;
      padding: 80px 0 0 0;
      justify-content: unset;
      align-items: unset;
      > p {
        padding: 0 30px;
      }
      form {
        width: 100%;
        padding: 0 20px;
        .form-group {
          input,
          textarea {
            font-size: 16px;
            padding: 10px;
          }
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: 10px;
    height: 10px;
    &:before,
    &:after {
      background-size: 30%;
      width: 10px;
      height: 10px;
      padding: 15px;
    }
  }
}
